.padding-top-bottom-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.circuit-size{
    padding-top: 4px;
    font-size:32px
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.my-logo{
    font-style: oblique;
    font-family: monospace;
    padding-left: 410px;
    position: relative;
    bottom: -11px;
}